* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  min-height: 100svh;
}

.main-header {
  margin: 4rem 0;
  padding: 1rem;
  text-align: center;
}

.section {
  background-color: #b3b3b3;
  margin: 1rem;
  padding: 2rem;
  position: relative;
  border: 2px solid black;
}

.section-title {
  position: absolute;
  top: 0;
  right: 0;
  border: 1px solid black;
  border-top: none;
  border-right: none;
  background-color: #ad5555;
  color: whitesmoke;
  padding: 10px 10px;
  padding-bottom: 0;
}

.section-paragraph {
  margin-top: 40px;
}

/* Mobile devices */
@media (max-width: 767px) {
  .main-header {
    font-size: 4rem;
  }

  .section {
    line-height: 1.8;
  }

  .section-title {
    font-size: 2.8rem;
  }

  .section-paragraph {
    font-size: 2.4rem;
  }

  .col-sm-1,
  .col-sm-2,
  .col-sm-3,
  .col-sm-4,
  .col-sm-6,
  .col-sm-12 {
    float: left;
  }

  .col-sm-1 {
    width: calc((100% - 240px) / 12);
  }

  .col-sm-2 {
    width: calc((100% - 120px) / 6);
  }

  .col-sm-3 {
    width: calc((100% - 80px) / 4);
  }

  .col-sm-4 {
    width: calc((100% - 60px) / 3);
  }

  .col-sm-6 {
    width: calc((100% - 40px) / 2);
  }

  .col-sm-12 {
    width: calc(100% -20px);
  }
}

/* Tablets */
@media (min-width: 768px) and (max-width: 991px) {

  .main-header {
    font-size: 3.5rem;
  }

  .section {
    font-size: 2rem;
    line-height: 1.6;
  }

  .section-title {
    font-size: 3rem;
  }

  .col-md-1,
  .col-md-2,
  .col-md-3,
  .col-md-4,
  .col-md-6,
  .col-md-12 {
    float: left;
  }

  .col-md-1 {
    width: calc((100% - 240px) / 12);
  }

  .col-md-2 {
    width: calc((100% - 120px) / 6);
  }

  .col-md-3 {
    width: calc((100% - 80px) / 4);
  }

  .col-md-4 {
    width: calc((100% - 60px) / 3);
  }

  .col-md-6 {
    width: calc((100% - 40px) / 2);
  }

  .col-md-12 {
    width: calc(100% - 20px);
  }
}

/* Laptops */
@media (min-width: 992px) {

  .main-header {
    font-size: 3rem;
  }

  .section {
    font-size: 2rem;
  }

  .section-title {
    font-size: 3rem;
  }

  .col-lg-1,
  .col-lg-2,
  .col-lg-3,
  .col-lg-4,
  .col-lg-6,
  .col-lg-12 {
    float: left;
  }

  .col-lg-1 {
    width: calc((100% - 240px) / 12);
  }

  .col-lg-2 {
    width: calc((100% - 120px) / 6);
  }

  .col-lg-3 {
    width: calc((100% - 80px) / 4);
  }

  .col-lg-4 {
    width: calc((100% - 60px) / 3);
  }

  .col-lg-6 {
    width: calc((100% - 40px) / 2);
  }

  .col-lg-12 {
    width: calc(100% - 20px);
  }
}